@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <head>
    <meta charset="UTF-8">
    <div class="titulo">
    <title>CTPD-Serviços Elétricos</title>
    </div>
</head>
<header>
    <h1>CTPD-Serviços Elétricos</h1>
<body>
  <div class="caixa_amarela box">
    <h3>Serviços</h3>
    <div class="list_servicos">
        <p>Projeto Elétricos</p>
        <p>Iluminação</p>
        <p>Eletrica Residencial</p>
        <p>Instalação de Chuveiro</p>
        <p>Troca e Inspeção de fiação</p>
        <p>Serviço SPDAs</p>
    </div>
  </div>
  
  </body>


   
<div class="footer1">   
     <h2>Atendemos na Região dos Lagos, Rio de Janeiro</h2>
    <a href="https://www.google.com/maps/place/Regi%C3%A3o+dos+Lagos,+State+of+Rio+de+Janeiro/-22.7808719,-42.5519361,10z/data=!3m1!4b1!4m5!3m4!1s0x97693db4c4937b:0x5f94a926cd6ab34f!8m2!3d-22.8964629!4d-42.0413759">Goole Maps</a>
</div>
<footer>
    <p>
        <a href="Home/FaleConosco.html">Contate nosso serviços</a>
    </p>
</footer>
</div>
