@{
    ViewData["Title"] = "Parceiros";
}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Parceiros</title>
</head>
<body>
    <h1>Nossos Parceiros</h1>
    <main>
       
        <div class="img">
        <img src="~/img\Tomada-450x275.jpg"/>
        </div>
        <div class="img">
        <img src="~/img\Quadro-450x275.jpg"/>
        </div>
     <div class="parceiros">
         <p>A CTPD está sempre em busca de fechar parcerias com os melhores fornecedores.</p>
        <p>Usamos materiais importados ou locais, para levar ao nosso Cliente o melhor produto do mercado.Desde simple tomadas até quadros distribuidores de 48 dijuntores.</p>
       </div>

    </main>
</body>