@{
    ViewData["Title"] = "Quem Somos";
}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quem somos</title>
</head>
<body>
    <main>
        <div class="quem_somos">
        <div class="tit_quem">
       <h1>Quem Somos</h1>
       </div>
       <div class="bod_quem">
       <p>A CTPD é uma empresa familiar que busca trazer sempre a melhor qualidade na sua instalação, desde serviço bem prestado a boa qualidade em instalações e manutenções elétricas.</p>
       <p>Queremos levar as pessoas os melhores produtos e serviços. Posso falar por experiencia propria, a dificuldade que tenho em achar um bom pedreiro ou eletricista, em nossa região, realmente,quase não encontramos.</p>
       <p>Mas estamos aqui para resolver isso, Meu nome é ... e sou o dono e o responsável técnico pela empresa, trabalho com meus dois filhos, que me ajudam muito também. Minha família é muito importante para mim e faço esses serviços para que meus filhos tenham uma boa educação escolar.</p>
      </div>
      </div>
    </main>
    
</body>