@{
    ViewData["Title"] = "Serviços";
}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Serviços</title>
</head>
<body>
    <h2>Conheça nossos serviços:</h2>
<main>
<div class="col-md-8">
       <div class="row">

        <div class="col-md-4">
            <div class="card" style="width: 200px">
                <img class="card-img-top" src="~/img\projeto_ele-800x600.png" alt="Card image cap">
                <div class="card-body">
                    <a href="#" data-toggle="modal" data-target="#projeto_ele" class="text-center">Projeto Elétrico</a>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card" style="width: 200px">
                <img class="card-img-top" src="~/img\quarto.jpg" alt="Card image cap">
                <div class="card-body">
                    <a href="#" data-toggle="modal" data-target="#ilum" class="text-center">Iluminação</a>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card" style="width: 200px">
                <img class="card-img-top" src="~/img\Quadro-450x275.jpg" alt="Card image cap">
                <div class="card-body">
                    <a href="#" data-toggle="modal" data-target="#eleResidencial" class="text-center">Eletrica Residencial</a>
                </div>
            </div>
        </div>

   </div>
</div>


<div class="col-md-8">
       <div class="row">
        <div class="col-md-4">
            <div class="card" style="width: 200px">
                <img class="card-img-top" src="~/img\spds.png" alt="Card image cap">
                <div class="card-body">
                    <a href="#" data-toggle="modal" data-target="#spda" class="text-center">Serviços de SPDAs</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card" style="width: 200px">
                <img class="card-img-top" src="~/img\fiacao_eletrica-800x600.jpg" alt="Card image cap">
                <div class="card-body">
                    <a href="#" data-toggle="modal" data-target="#fiacao" class="text-center">Troca e inspeção de fiação</a>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card" style="width: 200px">
                <img class="card-img-top" src="~/img\chuveiro.jpg" alt="Card image cap">
                <div class="card-body">
                    <a href="#" data-toggle="modal" data-target="#chuveiro" class="text-center">Instalação de Chuveiro</a>
                    </a>
                </div>
            </div>
        </div>
   </div>
</div>



<!-- modal 1 -->

<div class="modal fade" id="projeto_ele" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Projeto Elétrico</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
    <p>O primeiro passo para idealizar esse tipo de projeto é ter a planta da residência. Com esse material será possível acessar as dimensões exatas do imóvel. Isso é importante para o cumprimento da NBR 5410, norma que regula as instalações elétricas em baixa tensão.

            Também é preciso entender as necessidades dos moradores da residência para definir os pontos de luz e as tomadas de uso geral (que ligam aparelhos) e específicos (utilizadas para o chuveiro, por exemplo).
            
            Nesse projeto, é preciso calcular a potência total das cargas elétricas (determinada em Watts) de cada cômodo para que seja definido o disjuntor adequado para a instalação.
            
            Segundo o que determina a norma NBR 5410, locais como cozinhas, banheiros, lavanderias que comportam equipamentos de maior potência energética precisam ter um circuito elétrico reservado para cada objeto.
            
            Outro ponto importante é prever o posicionamento dos dutos para proteger o cabeamento elétrico.</p>
    
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!--modal2-->
<div class="modal fade" id="ilum" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Iluminação</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
    <p>
            Iluminar sua casa adequadamente, levando conforto, dando funcionalidade e ressaltando a sua decoração.

            A Iluminação causa muito efeito nas pessoas, então na hora de escolher um simples abajur ou um lustre deslubrate, é muito importante ter um proficional adequado para a instalação.
            
            Observe a imagem abaixo e veja como a Iluminação causa muito efeito:
        </p>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


<!--modal3-->
<div class="modal fade" id="eleResidencial" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Elétrica Residencial</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
         <p>
            A elétrica residencial básica é um modelo padrão elaborado para casas e estabelecimentos, é constituída a partir de um estudo preciso, que considera as necessidades dos ambientes e visa garantir qualidade para quem usará estes espaços.
        </p>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!--modal 4-->
<div class="modal fade" id="spda" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Serviço SPDAs</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
         <p>
           As siglas SPDA significam sistema de proteção contra descargas atmosféricas, esses sistemas servem para proteção de prédios, antenas, instalações industriais, tanques, tubulações e pessoas contra as descargas atmosféricas e seus efeitos. 

            Basicamente o objetivo do SPDA é dissipar para terra essa perigosa corrente elétrica, direcionando a corrente por um caminho mais seguro possível, desta maneira minimizando ou anulando seus impactos.

        </p>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!--modal 5-->
<div class="modal fade" id="fiacao" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Troca e Inspeção de fiação</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
         <p>
            Uma das partes mais importantes da Eletrica e a fiaçao e se ela estiver danificada pode gerar um prejuizo enorme, e dependendo do estado da fiação pode causar incendios. 

            Por isso, é muito importate a Inspeção da fiação eletrica.
        </p>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!--modal 6-->
<div class="modal fade" id="chuveiro" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Instalação de Chuveiro</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
         <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam id nibh at tortor tincidunt sagittis vel id lacus. Suspendisse feugiat eros eget cursus vehicula.
        </p>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
</main>
</body>